{% extends 'wicker/theme.html'%}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
   
    <h5 class="display-5 fw-bold">Todowicker</h5>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We are aiming to make your business operations entirly online</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="nav-link" class="btn btn-primary btn-sm px-4 gap-3" href="{% url 'signupuser' %}">Sign Up</a>
        <a type="submit" class="btn btn-outline-secondary btn-sm px-4" href="{% url 'loginuser' %}">Log In</a>
       
      </div>
    </div>
  </div>
{% endblock %}
